/*

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: --white-color;
  --secondary-color: grayscale;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #4d2997;
  --custom-btn-bg-hover-color: #371086;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #B22727;

  --body-font-family: 'Outfit', sans-serif;

  --h1-font-size: 74px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --btn-font-size: 14px;
  --copyright-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100vw;
}


/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1:nth-child(1) {
  font-size: var(--h1-font-size);
  padding-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  width: auto;

  text-shadow: 0 0 10px grey;

  /* display: inline-block; */
  transform: scale(1.199, 1);
  /* W1C */
  -webkit-transform: scale(1.199, 1);
  /* Safari and Chrome */
  -moz-transform: scale(1.199, 1);
  /* Firefox */
  -ms-transform: scale(1.199, 1);
  /* IE 9 */
  -o-transform: scale(1.199, 1);
  /* Opera */
}

h1:nth-child(2) {
  font-size: var(--h1-font-size);
  line-height: 20px;
  color: #4a289b !important;

  /* display: inline-block; */
  transform: scale(1.1, 0.7);
  /* W1C */
  -webkit-transform: scale(1.1, 0.7);
  /* Safari and Chrome */
  -moz-transform: scale(1.1, 0.7);
  /* Firefox */
  -ms-transform: scale(1.1, 0.7);
  /* IE 9 */
  -o-transform: scale(1.1, 0.7);
  /* Opera */
}

h2 {
  font-size: var(--h2-font-size);
}

h2:nth-child(3) {
  line-height: 50px;

  font-size: 50px;
  color: white;

  text-shadow: 0 0 10px grey;

  /* display: inline-block; */
  transform: scale(1, 0.7);
  /* W1C */
  -webkit-transform: scale(1, 0.7);
  /* Safari and Chrome */
  -moz-transform: scale(1, 0.7);
  /* Firefox */
  -ms-transform: scale(1, 0.7);
  /* IE 9 */
  -o-transform: scale(1, 0.7);
  /* Opera */
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.link-fx-1 {
  color: var(--white-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-fx-1:hover {
  color: var(--link-hover-color);
}

.link-fx-1:hover::before {
  transform: translateX(17px) scaleX(0);
  transition: transform .2s;
}

.link-fx-1:hover .icon circle {
  stroke-dashoffset: 200;
  transition: stroke-dashoffset .2s .1s;
}

.link-fx-1:hover .icon line {
  transform: rotate(-180deg);
}

.link-fx-1:hover .icon line:last-child {
  transform: rotate(180deg);
}

.link-fx-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: right center;
  transition: transform .2s .1s;
}

.link-fx-1 .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) rotate(90deg);
  font-size: 32px;
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.link-fx-1 .icon circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset .2s;
}

.link-fx-1 .icon line {
  transition: transform .4s;
  transform-origin: 13px 15px;
}

.link-fx-1 .icon line:last-child {
  transform-origin: 19px 15px;
}


/*---------------------------------------
  SECTION
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.section-overlay+.container {
  position: relative;
}

.tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 45px;
}

.nav-tabs {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  border-bottom: 0;
  padding: 15px;
}

.nav-tabs .nav-link {
  border-radius: var(--border-radius-large);
  border: 0;
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 15px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  color: var(--primary-color);
}

.nav-tabs h5 {
  color: var(--p-color);
  margin-bottom: 0;
}

.nav-tabs .nav-link.active h5,
.nav-tabs .nav-link:focus h5,
.nav-tabs .nav-link:hover h5 {
  color: var(--primary-color);
}


/*---------------------------------------
  CUSTOM ICON COLOR
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}


/*---------------------------------------
  CUSTOM BUTTON
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: 10 px;
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
  clip-path: polygon(5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%, 0 15%);
}

.button-beli {
  border: none;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.section_4_dropdown {
  display: none;
}

.section_5_dropdown {
  display: none;
}


/*---------------------------------------
  VIDEO
-----------------------------------------*/
.img-wrap {
  z-index: -100;
}

.custom-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.custom-img2 {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tanggal27-28 {
  position: absolute;
  /* height: 50%; */
  top: 0;
  right: 0;
  top: 80%;
  right: -100px;
  rotate: 20deg;
  transform: translate(-50%, -50%);
}

.star-icon {
  position: absolute;
  height: 170px;
  top: 0;
  right: 0;
  top: -60px;
  right: 40px;
  rotate: -20deg;
  transform: translate(-50%, -50%);
}


/*---------------------------------------
  SITE HEADER
-----------------------------------------*/
.site-header {
  background-color: var(--primary-color);
  padding-top: 12px;
  padding-bottom: 12px;
}


/*---------------------------------------
  NAVIGATION
-----------------------------------------*/
.sticky-wrapper {
  top: 0;
  right: 0;
  left: 0;
  margin-top: 0px;
  width: 100%;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: var(--dark-color);
}

.navbar {
  background: black;
  z-index: 99;
}

.text-by {
  margin: auto !important;
  padding-right: 14px !important;
  font-family: sans-serif;
  font-size: 13px !important;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--white-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}

.navbar-brand img {
  height: 45px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px 20px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO
-----------------------------------------*/
.hero-section {
  position: relative;
  overflow: hidden;
  margin-top: 0px;
  height: calc(100vh - 51px);
  height: fit-content !important;
}

.blank-div-hero {
  height: 200px;
}

@media all and (min-width: 770px) {
  .text-description p {
    width: 720px;
    margin: auto !important;
  }

}


.hero-section small {
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-section .section-overlay {
  z-index: 2;
  opacity: 0.10;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-bottom: 50px;
}

.hero-section .container .row {
  height: 100%;
}


/*---------------------------------------
  ABOUT
-----------------------------------------*/
.about-section {
  /* background-image: url('../images/edward-unsplash-blur.jpg'); */
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-image {
  border-radius: var(--border-radius-medium);
  display: block;
}

.about-text-wrap {
  position: relative;
}

.about-text-icon {
  background: var(--primary-color);
  border-radius: 100%;
  font-size: var(--h3-font-size);
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.about-text-info {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: var(--border-radius-medium);
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
  padding: 35px;
}

/*---------------------------------------
  MAIN
-----------------------------------------*/
/* .main-section {
  background-image: url('/assets/tema/images/template/top_main.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: max-content;
} */



/*---------------------------------------
  TICKET
-----------------------------------------*/
.ticket-section {
  background-image: url('/assets/tema/images/about-community-blur.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 130px;
}

.ticketinfo-section {
  background-color: #4b2f96;
  padding: 30px 0 60px 0 !important;
}

.ticketinfo-section .container {
  width: 100vw;
}

.ticketinfo-section .container .row {
  width: 65vw;
  margin: auto
}

.carousel-control-prev {
  left: -20px
}

.carousel-control-next {
  right: -20px;
}

.ticket-form {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 50px;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.ticket-form .form-check {
  position: relative;
  min-height: 52px;
  padding-left: 35px;
}

.ticket-form .form-check .form-check-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 12px;
  margin-left: 35px;
  width: 100%;
  height: 100%;
}

#countdown ul {
  padding: 0;
  margin: 0;
}


#countdown ul li {
  display: inline-block;
  font-size: .9em;
  list-style-type: none;
  text-transform: uppercase;
}

#countdown ul li span {
  display: block;
  font-size: 2.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}



/*---------------------------------------
  ARTISTS
-----------------------------------------*/
.artists-section {
  background-image: linear-gradient(180deg, #452987, #4b2f96);
}

.guest-description {
  width: 200px;
  margin: 0 10px;

}

.guest-description img:nth-child(1) {
  background-color: #340996;
  z-index: 4;
}

.guest-description img:nth-child(2) {
  background-color: transparent;
  z-index: 3;
}

.guest-description .card-body {
  background-color: #4b2f96;
  ;
}

.guest-description .card-body p {
  margin: 0;
  padding: 2px 0;
  background-color: #51a09d;
}

.artists-thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.artists-image {
  border-radius: var(--border-radius-medium);
  display: block;
  width: 100%;
}

.artists-thumb:hover .artists-hover {
  transform: translateY(0);
  opacity: 1;
}

.artists-hover {
  background-color: var(--primary-color);
  background-color: rgba(248, 203, 46, 0.75);
  border-radius: var(--border-radius-medium);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  margin: 20px;
  padding: 35px;
  transition: all 0.5s ease;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.artists-hover p strong {
  color: var(--white-color);
  display: inline-block;
  min-width: 180px;
  margin-right: 20px;
}

.artists-hover p a {
  color: var(--secondary-color);
}

.artists-hover p a:hover {
  color: var(--white-color);
}

.artists-hover hr {
  margin: 1.5rem 0;
}

.triangle-left {
  position: absolute;
  width: 100%;
  padding-top: 27%;
  clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
  border: none;
  background-color: #4b2f96;
}

.triangle-right {
  width: 100%;
  padding-top: 15%;
  background-color: #4b2f96;
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
  border: none;
  z-index: -1;
}

/*---------------------------------------
  SNEAK PEAK
-----------------------------------------*/
.sneakpeak-section-container {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.sneakpeak-section {
  padding: 0 !important;
}

.sneakpeak-section .container {
  width: fit-content !important;
}

.sneak-peak-image img:nth-child(1) {
  z-index: 3;
}

.sneak-peak-image img:nth-child(2) {
  background-color: transparent;
  z-index: 5;
}

.tanda-tanya-icon {
  position: absolute;
  height: 170px;
  top: 0;
  right: 0;
  top: -30px;
  right: -200px;
  rotate: 7deg;
  transform: translate(-50%, -50%);
}



.schedule-section {
  /* background-image: url('../images/nainoa-shizuru-unsplash-blur.jpg'); */
  background-color: #424083;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.table-responsive {
  filter: drop-shadow(2px 2px 4px #606060);
}

.schedule-table {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.schedule-table .bg-warning {
  background: #f0a5a5 !important;
}

.schedule-table thead th {
  background-color: var(--secondary-color);
}

.schedule-table th,
.schedule-table tr,
.schedule-table td {
  border-bottom-color: #363a3e;
  padding: 30px;
}

.schedule-table tr:last-child th,
.schedule-table tr:last-child td {
  border-bottom-color: transparent;
}

.schedule-table thead th {
  border-right: 1px solid #c7460a;
  border-bottom-color: transparent;
}

.schedule-table th+td {
  border-bottom: 0;
}

.schedule-table thead th:last-child {
  border-right-color: transparent;
}

.schedule-table .pop-background-image {
  background-image: url('../images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg');
}

.schedule-table .rock-background-image {
  background-image: url('../images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg');
}

.schedule-table .country-background-image {
  background-image: url('../images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg');
}

.table-background-image-wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: none;
  position: relative;
}

.schedule-table h3,
.schedule-table p {
  color: var(--white-color);
  position: relative;
  z-index: 2;
}


/*---------------------------------------
  EVENT HUB
-----------------------------------------*/
.blank-space {
  height: 730px;
}

.eventhub-section {
  background-color: #4b2f96;
}


.arrow-left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid white;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;

  border-left: 40px solid white;
}

/*---------------------------------------
  CONTACT
-----------------------------------------*/
.google-map {
  border-radius: var(--border-radius-medium);
}


/*---------------------------------------
  CUSTOM FORM
-----------------------------------------*/
.custom-form .form-control {
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}


/*---------------------------------------
  SITE FOOTER
-----------------------------------------*/
.site-footer {
  background-color: black;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  text-align: center;
}

.site-footer-top {
  background-color: var(--secondary-color);
  /* background-image: url('../images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg'); */
  background-repeat: no-repeat;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-footer-bottom {
  border-top: 1px solid #1f1c1c;
  margin-top: 60px;
}

.site-footer-title {
  color: var(--primary-color);
}

.site-footer-link,
.copyright-text {
  color: var(--white-color);
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.copyright-text {
  font-size: var(--copyright-font-size);
}

.blank-black {
  background-color: #000000;
  height: 20px;
}




/*---------------------------------------
  SOCIAL ICON
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.social-icon-link span {
  display: block;
}

.social-icon-link span:hover::before {
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}


/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/
@media all and (max-width: 1300px) {
  .section_5_navbar {
    display: none;
  }

  .section_5_dropdown {
    display: block;
  }

}


@media all and (max-width: 1200px) {

  .section_4_navbar {
    display: none;
  }

  .section_4_dropdown {
    display: block;
  }

}

@media all and (min-width: 1170px) {

  .artists-section {
    background-image: linear-gradient(180deg, #433388, #4b2f96);
  }

}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 991px) {
  .blank-div-hero {
    display: none;
  }

  .section_4_navbar,
  .section_5_navbar {
    display: block;
  }

  .section_4_dropdown,
  .section_5_dropdown {
    display: none;
  }



  h1 {
    font-size: 62px;
  }

  h1:nth-child(1) {
    padding-top: 160px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar {
    background-color: var(--dark-color);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .hero-section {
    padding-top: 150px;
  }

  .custom-img {
    top: 0px;
    padding-top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pricing-thumb {
    padding: 35px;
  }

  .schedule-table h3 {
    font-size: 22px;
  }

  .schedule-table th {
    padding: 20px;
  }

  .schedule-table tr,
  .schedule-table td {
    padding: 25px;
  }

  .ticket-section {
    padding-top: 130px;
  }

  .ticket-form {
    padding: 30px;
  }
}



@media screen and (max-width: 800px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .ticketinfo-section .container {
    width: 95vw !important;
  }
}

.event_highlight {
  width: 640px;
  z-index: 10;
}



@media screen and (max-width: 780px) {
  .event_highlight {
    height: auto;
    width: 100%;
  }

  .triangle-left {
    display: none;
  }

  .triangle-left-2 {
    width: 100%;
    padding-top: 27%;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    border: none;
    background-color: #4b2f96;
  }

  .blank-space-triangle {
    background-color: #4b2f96;
    width: 100%;
    height: 50px;
    z-index: -99;
  }

  .blank-space {
    height: 600px;
  }
}

@media all and (max-width: 770px) {

  #countdown ul li {
    font-size: calc(1.125rem * .75);
  }

  #countdown ul li span {
    font-size: calc(3.375rem * .75);
  }

  .blank-space {
    height: 600px;
  }
}

@media screen and (max-width: 766px) {
  .blank-space {
    height: 370px;
  }

  .hand-band img {
    width: 60%;
    height: auto;
    padding: auto;
    margin: auto;
  }
}

@media screen and (max-width: 735px) {
  .blank-space {
    height: 390px;
  }
}

@media screen and (max-width: 715px) {
  .blank-space {
    height: 410px;
  }
}

@media screen and (max-width: 680px) {
  .custom-img2 {
    height: 40%;
  }

  .blank-space {
    height: 420px;
  }

  .hand-band img {
    width: 80%;
  }
}

@media screen and (max-width: 660px) {
  .blank-space {
    height: 430px;
  }
}

@media screen and (max-width: 650px) {
  .blank-space {
    height: 440px;
  }
}

@media screen and (max-width: 580px) {

  .event_highlight {
    width: 80vw;
    height: auto;
  }

  .blank-space {
    max-height: 400px;
    width: 100vw;
    height: 65vw;
  }
}


@media screen and (max-width: 556px) {
  .arrow-left {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid white;
  }

  .arrow-right {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid white;
  }

  h1:nth-child(1) {
    font-size: 65px;

    padding-top: 140px;

    transform: scale(1, 1);
    /* W1C */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -o-transform: scale(1, 1);
    /* Opera */
  }

  h1:nth-child(2) {
    font-size: 65px;
    transform: scale(0.92, 0.65);
    /* W1C */
    -webkit-transform: scale(0.92, 0.65);
    /* Safari and Chrome */
    -moz-transform: scale(0.92, 0.65);
    /* Firefox */
    -ms-transform: scale(0.92, 0.65);
    /* IE 9 */
    -o-transform: scale(0.92, 0.65);
    /* Opera */
  }

  h2:nth-child(3) {
    padding-top: 20px;
    line-height: 20px;

    font-size: 40px;
    color: white;

    text-shadow: 0 0 10px grey;

    /* display: inline-block; */
    transform: scale(1, 0.7);
    /* W1C */
    -webkit-transform: scale(1, 0.7);
    /* Safari and Chrome */
    -moz-transform: scale(1, 0.7);
    /* Firefox */
    -ms-transform: scale(1, 0.7);
    /* IE 9 */
    -o-transform: scale(1, 0.7);
    /* Opera */
  }
}

@media screen and (max-width: 500px) {
  .logo-kalsel-unite {
    display: none !important;
  }

  .text-by {
    display: none !important;
  }
}



@media screen and (max-width: 480px) {

  .custom-img2 {
    position: absolute;
    height: 35%;
    top: 0;
    left: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 52px;
  }

  h1:nth-child(1) {
    font-size: 52px;

    padding-top: 20vw;

    transform: scale(1, 1);
    /* W1C */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    -moz-transform: scale(1, 1);
    /* Firefox */
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -o-transform: scale(1, 1);
    /* Opera */
  }

  h1:nth-child(2) {
    font-size: 52px;
    transform: scale(0.92, 0.65);
    /* W1C */
    -webkit-transform: scale(0.92, 0.65);
    /* Safari and Chrome */
    -moz-transform: scale(0.92, 0.65);
    /* Firefox */
    -ms-transform: scale(0.92, 0.65);
    /* IE 9 */
    -o-transform: scale(0.92, 0.65);
    /* Opera */
  }

  h2 {
    font-size: 28px;
  }

  h2:nth-child(3) {
    line-height: 20px;

    font-size: 28px;
    color: white;

    text-shadow: 0 0 10px grey;

    /* display: inline-block; */
    transform: scale(1, 0.7);
    /* W1C */
    -webkit-transform: scale(1, 0.7);
    /* Safari and Chrome */
    -moz-transform: scale(1, 0.7);
    /* Firefox */
    -ms-transform: scale(1, 0.7);
    /* IE 9 */
    -o-transform: scale(1, 0.7);
    /* Opera */
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .logo-kalsel-unite {
    display: none;
  }

  .text-by {
    display: none;
  }
}

@media screen and (max-width: 390px) {

  .custom-img2 {
    height: 30%;
  }

  h1:nth-child(1) {
    font-size: 48px;
    padding-top: 30vw;
  }

  h1:nth-child(2) {
    font-size: 48px;
    line-height: 100%;
  }

  h2:nth-child(3) {
    line-height: 20px;
    font-size: 28px;
  }
}

@media screen and (max-width: 350px) {

  h1:nth-child(1) {
    font-size: 48px;
    padding-top: 35vw;
  }

  h1:nth-child(2) {
    font-size: 44px;
    line-height: 100%;
  }

  h2:nth-child(3) {
    line-height: 20px;
    font-size: 28px;
  }
}